/* Global */
[data-theme=green]:root{
    --main-color: #4CAF50; /* Green */
    --second-color: #388E3C; /* Darker Green */
    --third-color: #2E7D32; /* Medium Green */
    --widget-bg: #f5f5f5; /* Light Gray */
    --primary-text-color: #ffffff; /* White */
}

[data-theme=green]{
    --primary: var(--main-color);
    --dt-primary-color: var(--main-color);
    --blue-avatar-bg: var(--main-color);
    --blue-avatar-color: var(--main-color);
    --blue: var(--main-color);
}

[data-theme=green] .page-container,
[data-theme=green] .layout-main-section {
    background-color: var(--widget-bg);
}
[data-theme=green] ul li a:hover {
    background-color: var(--second-color);
    color: var(--primary-text-color);
}

/* Main */
[data-theme=green] body {
    font-size: 14px;
    background-color: #f3f6f9;
}
[data-theme=green] a {
    color: #444;
    font-weight: 500;
}
[data-theme=green] .small, small {
    font-size: 95%;
}
[data-theme=green] .h6.uppercase, h6.uppercase {
    font-weight: 600;
    font-size: 11.5px;
}

/* Navigation Bar */
[data-theme=green] .standard-sidebar-item.selected {
    background: linear-gradient(to right, var(--main-color), var(--second-color));
}
[data-theme=green] .standard-sidebar-item.selected a {
    color: var(--primary-text-color);
}
[data-theme=green] .standard-sidebar-item.selected a svg {
    fill: var(--primary-text-color);
}
[data-theme=green] .standard-sidebar-item:hover {
    background-color: var(--second-color);
}
[data-theme=green] .standard-sidebar-item:hover a,
[data-theme=green] .standard-sidebar-item:hover svg {
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
}

[data-theme=green] .navbar {
    background: linear-gradient(to right, var(--main-color), var(--second-color)) !important;
    border: none !important;
}
[data-theme=green] .navbar-nav>li>a {
    color: var(--primary-text-color) !important;
}
[data-theme=green] .navbar-nav>li>a:hover {
    color: #eee !important;
}
[data-theme=green] .navbar-brand:hover {
    color: #eee !important;
}

/* Widgets */
[data-theme=green] .widget {
    background-color: var(--widget-bg);
    border: none;
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.05), 0 3px 3px -2px rgba(0,0,0,0.1);
}
[data-theme=green] .widget.shortcut-widget-box .widget-head .widget-title i {
    color: var(--third-color);
}
[data-theme=green] .widget.shortcut-widget-box .widget-head .widget-title:hover span {
    color: var(--main-color);
}
[data-theme=green] .widget-body .link-item:hover {
    color: var(--primary-text-color);
    background: var(--third-color);
}

/* Sidebar */
[data-theme=green] .desk-sidebar .desk-sidebar-item {
    font-size: 13px;
    font-weight: 600;
    color: var(--widget-bg);
}
[data-theme=green] .layout-side-section {
    font-size: 14px;
}
[data-theme=green] .uppercase {
    color: var(--third-color);
}

/* Dropdowns */
[data-theme=green] .dropdown-menu>li>a {
    font-size: 13px;
    color: #666;
    font-weight: 500;
}
[data-theme=green] .awesomplete > ul > li[aria-selected=true] {
    background-color: transparent;
}
[data-theme=green] .awesomplete > ul > li:hover {
    background: linear-gradient(to right, var(--main-color), var(--second-color));
}
[data-theme=green] .awesomplete > ul > li:hover a {
    color: var(--primary-text-color);
}

/* Page Heading */
[data-theme=green] .page-head {
    border-bottom: none !important;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
}
[data-theme=green] .page-title .title-text {
    color: var(--third-color);
    font-size: 22px;
}
[data-theme=green] .widget .widget-head .widget-title,
[data-theme=green] .section-head,
[data-theme=green] .comment-input-header {
    font-size: 14px;
    color: var(--third-color);
}

/*Main Section */
[data-theme=green] .list-row-head {
    background-color: #f3f6f9;
    border-bottom: 1px solid #e4e4e4 !important;
}

/* Buttons */
[data-theme=green] .btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--primary-text-color);
}
[data-theme=green] .btn-default:hover,
[data-theme=green] .btn-default:focus,
[data-theme=green] .btn-default:active {
    background-color: var(--third-color) !important;
    color: var(--primary-text-color) !important;
}
[data-theme=green] .btn-primary:hover,
[data-theme=green] .btn-primary:focus,
[data-theme=green] .btn-primary:active {
    background-color: var(--second-color) !important;
    border-color: var(--second-color) !important;
}
[data-theme=green] .btn-secondary {
    background-color: var(--third-color);
    color: var(--primary-text-color);
}

[data-theme=green] .btn-secondary:hover {
    background-color: var(--main-color);
    color: var(--primary-text-color);
}
[data-theme=green] .indicator-right.blue:after,
[data-theme=green] .indicator.blue:before {
    background: var(--third-color);
}

/* Other Components */
[data-theme=green] input[type=checkbox]:checked:before {
    color: var(--third-color);
}
[data-theme=green] input[type=checkbox]:checked {
    background: var(--main-color);
}
[data-theme=green] .frappe-control .ql-editor:not(.read-mode) {
    background: var(--widget-bg);
}
[data-theme=green] .input-with-feedback,
[data-theme=green] .like-disabled-input {
    background-color: var(--widget-bg);
}
[data-theme=green] .document-link-badge span {
    background-color: var(--main-color) !important;
    color: var(--primary-text-color);
}
[data-theme=green] .document-link button {
    background: var(--third-color) !important;
    color: var(--primary-text-color) !important;
}
[data-theme=green] .indicator-pill.gray,
[data-theme=green] .indicator-pill-right.gray {
    background: var(--third-color);
    color: var(--primary-text-color);
}
[data-theme=green] .indicator-pill.green,
[data-theme=green] .indicator-pill-right.green {
    color: var(--main-color);
}
[data-theme=green] .notifications-icon svg {
    stroke: var(--primary-text-color);
    fill: var(--primary-text-color);
}
[data-theme=green] #page-Workspaces .page-head {
    background: var(--widget-bg);
}

